$backgrounds: (
  light-gray: $light-gray,
  white: $white,
  fff: $white
);

.c-bg {
  @each $bg, $bg-val in $backgrounds {
    &-#{$bg} {
      background: $bg-val;
    }
  }
}

@function background($background: white) {
  @return map-get($backgrounds, $background);
}
